<div class="container-fluid">
    <h3>ENTER QUOTE</h3>
    <hr>
    <form  (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        

        <div class="form-group">
            <label for ="info">quote</label>
            <textarea rows="5" class="form-control" id="info" [(ngModel)]="newQuote.define" name="info" #info="ngModel" required></textarea>
            <div [hidden]="info.valid || info.pristine" class="alert alert-danger">
                <p>quote is required</p>
            </div>
        </div>


        <div class="form-group">
            <label for ="name">USERNAME</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.details" name="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for ="author">AUTHOR</label>
            <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p> Author Name is required</p>
            </div>
        </div>

        

        <div class="form-group">
            <label for ="published">todays date</label>
            <input type="date" class="form-control" id="published" [(ngModel)]="newQuote.postDate" name="published" #published="ngModel" required>
            <div [hidden]="published.valid || published.pristine" class="alert alert-danger">
                <p>date  is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add quote</button>
    </form>
</div>
